<div class="d-flex nav-bar align-items-center">
  <p class="site name">Simple AirBnB</p>
  <%= link_to 'Add A Flat', new_flat_path, class: 'btn btn-outline-primary' %>
</div>
<div class="container mt-3">
  <h1>The flats (<%= @flats.length %>)</h1>
  <div class="d-flex flex-wrap">
    <% @flats.each do |flat| %>
      <div class="flat-card">
        <div class="card-content">
          <div class="upper d-inline-flex flex-column justify-content-between" style="background-image: linear-gradient(45deg, rgba(90,90,90,0.2), rgba(90,90,90, 0.2)), url(<%= flat.image_url %>);">
            <h4><%= flat.name %></h4>
            <p><%= flat.address %></p>
            <div class="d-inline-flex">
              <div class="d-flex people align-items-center">
                <i class="fas fa-user"></i>
                <p><%= flat.number_of_guests %></p>
              </div>
              <div class="d-flex price align-items-center">
                <i class="fas fa-euro-sign"></i>
                <p><%= flat.price_per_night %></p>
              </div>
            </div>
          </div>
          <div class="lower d-flex">
            <%= link_to "More Info", flat_path(flat) %>
            <%= link_to 'Edit', edit_flat_path(flat), class: 'edit' %>
            <%= link_to 'Delete', flat_path(flat), method: :delete, class: 'delete' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
